

<div class="main-container">
    <h1>Feed</h1>
    <div class="search-container">
        <form [formGroup]="searchForm">
            <input type="text" id="search" formControlName="searchInput" placeholder="Search movies...">
            <!-- <button [disabled]="searchForm.get('searchInput')?.value === ''" (click)="search()">Search</button> -->
            <button  (click)="search()">Search</button>
        </form>
    </div>
    <div class="card-container" >
        <div class="movie-card" *ngFor="let movie of movies;" [routerLink]="['/movie-details']" [queryParams]="{movie_name: movie.directory?.S}">
            <img src="{{movie.thumbnail?.S}}">
        </div>
    </div>
</div>

